[2017-06-27 16:48] kad opened #1 "Feature request: CLI"
Right now reshifter works as service, which means it relies on existing infra to run that container and connectivity within that cluster.
It would be good if library behind reshifer can be utilised in the form of CLI utility which will be easy to just put on master server and perform basic one-shot ops like backup/restore, for scenarios where rest of cluster not working properly.

[2017-06-30 08:06] mhausenblas commented on #1
![](https://github.trello.services/images/mini-trello-icon.png) [Create a CLI](https://trello.com/c/ClXrPR0v/11-create-a-cli)

[2017-06-30 09:53] #1 closed

[2017-06-30 09:53] mhausenblas commented on #1
@kad here's a first, simple implementation of the CLI. Wanna try it out?

[2017-07-14 08:18] dohnto opened #2 "Running rcli first backup fails with: no such file or directory"
Hello, I follow the the README from master branch 057547d on kubernetes master:

[code]

[code]

[code]

[code]

**Q1**: `Distro: Openshift` seems kind of missleading... it this tool supported for bare Kubernetes without Openshift?

[code]

[code]

**Q2**: Why is the initial backup failing?

Thank you

[2017-07-14 12:43] mhausenblas commented on #2
Thanks a lot for giving ReShifter a try, much appreciated @dohnto!

re **Q1**: yes, it supports all sorts of Kubernetes distros incl. but not limited to OpenShift. Since `stats` gives you a different answer than `explore` I believe this is a bug, so I'll investigate it. If you could share a few more details about your Kubernetes setup pls, that would help me trying to recreate the issue.

re **Q2*

[2017-07-14 13:57] davidjbrewer opened #3 "ReShift"
As can be seen, there is a double slash in the UI code for the stylesheets.

This renders fine when run as a standalone Docker container, but when placed behind an Ingress Controller, the pages do not render properly. Note: In the image provided, the certificate is shown as invalid only because the Let's Encrypt server is the staging server and not PROD.

This has been tested on a Kubernetes 1.5.2

[2017-07-14 15:02] mhausenblas commented on #3
Thanks a lot for reporting this! Let's discuss today, if possible?

[2017-07-14 17:20] dohnto commented on #2
We run just Kubernetes on bare metal without any fancy provider, we use our custom SaltStack states to deploy the kubernetes but it is just build binaries from github.com and packed into debian packages. Not sure what more information do you need. I can provide some content of etcd if needed.

[2017-07-14 17:51] mhausenblas commented on #2
OK @dohnto that is already super useful, thank you! Can you maybe do me a favour and share the output of `etcdctl ls / --recursive`? My hunch is that ReShifter gets confused since you seem to run an etcd3 in API v2 mode. Certainly something on my side, but I need to better understand what keys you're having in there, please.

[2017-07-14 18:21] dohnto commented on #2
[code]

But
[code]

[2017-07-14 20:14] mhausenblas commented on #2
Yes, that explains it @dohnto! Now, in the first case you're using the v2 API and it suggests that you're actually not using vanilla Kubernetes but Tectonic. Can you confirm this please? In the second case you're using the v3 API and this (`/registry`) is what makes ReShifter think it's vanilla Kubernetes. Now I understand one part but I still don't have enough information to try to re-create the

[2017-07-14 21:18] dohnto commented on #2
No, we are using vanilla Kubernetes. We also use flannel which stores some data to etcd (the `/coreos` prefix). We migrated from Kubernetes 1.5 and etcd v2 to Kubernetes 1.6 and etcd v3, but flannel cannot comunicate with etcd using v3 api and therefore there are some data still left. But all kubernetes related data are stored now (after migration) in v3 storage.

[2017-07-14 23:56] mhausenblas commented on #2
Brilliant, thanks a lot for clarifying this! I'll whip up some test cases and try to reproduce this tomorrow at the GopherCon community (hacking) day. Will keep you up to date how it goes @dohnto :)

[2017-07-15 18:07] mhausenblas commented on #2
Hey @dohnto can you do me a favour and try out the [v0.3.10](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.10-alpha) release I just pushed? Should fix it. Fingers crossed ;)

[2017-07-16 16:02] eremid commented on #2
Hello,

Same problem here with 0.3.10-alpha. Like @dohnto,  I migrated from Kubernetes 1.5 and etcd v2 to Kubernetes 1.6 and etcd v3 and now to Kubernetes 1.7.

`/ # etcdctl --version
etcdctl version: 3.0.17
API version: 2
`

[code]

Thanks you

[2017-07-17 05:47] mhausenblas commented on #2
OK, thanks @eremid! What does `etcdctl ls / --recursive`  and `ETCDCTL_API=3 etcdctl ls / --recursive` give for you?

[2017-07-17 08:16] eremid commented on #2
[code]
^-- my stuff

`ls` is not avalaible for the APIv3
[code]

but :

[code]

Thanks

[2017-07-17 08:32] dohnto commented on #2
[code]

[2017-07-17 08:49] mhausenblas commented on #2
@eremid doh, sorry re the `ls` with v3, ofc it's `get` ;) … and thank you!

@dohnto ack and thanks!

Folks, thanks a lot for being patient here with me. Just returned from Denver and looking into it. I think I know what it is (pattern I see here is v2/v3 with etcd being used for both K8S and something else as well). I'll put together a few more test cases and *will* figure this out. Please do allo

[2017-07-18 08:45] mhausenblas commented on #2
OK @dohnto and @eremid I've just cut [v0.3.12](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.12-alpha) and hope this release addresses your issues, can you please give it a try?

[2017-07-18 09:59] benbooth493 opened #4 "Ability to force Etcd API version"
Currently the code discovers the version of Etcd API.
I am running Etcd 3.1.6 but I use API V2. This means that I am currently unable to backup my cluster as it is detected as API V3.

I get the following message:

etcd: v3.1.2, secure etcd, SSL/TLS configure
distribution: Vanilla Kubernetes
Stats for known keys as per Kubernetes distribution:
number of keys: 0
total number of bytes to back up: 0

[2017-07-18 10:26] mhausenblas commented on #4
Thanks for raising this issue @benbooth493 and for giving ReShifter a try!

Now, I'm more than happy to provide a way to override auto-discovery (since it's really only a convenience functionality) but I'm somewhat surprised about the statement. Since you mentioned that you're using v0.3.12, I was under the impression I fixed the issue (v2 API in a V3 etcd) with this release. Can I ask you to do a

[2017-07-18 11:05] benbooth493 commented on #4
This produces no output:
ETCDCTL_API=3 ./etcdctl --cacert /etc/etcd2/ssl/ca.pem --cert /etc/etcd2/ssl/etcd.pem --key /etc/etcd2/ssl/etcd-key.pem --endpoints https://ip-10-252-18-122.eu-west-1.compute.internal:2379 get / --prefix --keys-only

But this does:
ETCDCTL_API=2 ./etcdctl --ca-file /etc/etcd2/ssl/ca.pem --cert-file /etc/etcd2/ssl/etcd.pem --key-file /etc/etcd2/ssl/etcd-key.pem --endpoints

[2017-07-18 12:18] mhausenblas commented on #4
OK, thanks @benbooth493. I thought I've covered it in the test cases but apparently not. Will reproduce and debug. Please hold the line :)

[2017-07-18 13:37] dohnto commented on #2
Ok now it works (does not fail), but the archine only contains single file:
[code]

Nothing more.

[2017-07-18 14:03] mhausenblas commented on #2
Ha, strange @dohnto … I mean, great that it doesn't fail anymore but curious how comes that it apparently only archives one key. Sounds like a couple of more test cases for me. Sorry, again, for the unsatisfying outcome ATM and I hope you can wait until I've fixed it, I'm on it …

[2017-07-18 14:46] eremid commented on #2
Same problem : juste a signle file :
[code]

And :

[code]

[2017-07-18 15:25] mhausenblas commented on #2
Yeah, well, it was a combination of logical bug and simple stupidity on my end. Passing the relevant test cases now and the [v0.3.13](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.13-alpha) release *should* address it. I sincerely hope so!

@dohnto and @eremid can you please give it a try?

[2017-07-18 15:26] mhausenblas commented on #4
Turns out it was a combination of logical bug and simple stupidity on my end. Passing the relevant test cases now and the [v0.3.13](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.13-alpha) release *should* address it. I sincerely hope so!

@benbooth493 can you please give it a try?

[2017-07-18 15:29] benbooth493 commented on #4
It's not looking good I'm afraid:
[code]

There's nothing in the logs at DEBUG level either.

[2017-07-18 15:35] mhausenblas commented on #4
Hmmm, interesting. But not too bad. I've got an idea, lemme try something and come back real soon …

[2017-07-18 15:37] dohnto commented on #2
The issue is still remaining, only third part resources are backuped.

[2017-07-18 15:45] mhausenblas commented on #4
OK, so I tried to reproduce your issue and for me this works:

[code]
Then, I launch an etcd3 in v2 mode and add these two keys:

[code]

When I then do a backup via the app/UI, I indeed can create the backup and when I verify the backup it has these two keys in it. Any idea where we two differ now?

[2017-07-18 15:47] eremid commented on #2
Same here !

[2017-07-18 15:52] mhausenblas commented on #2
This is strange @dohnto … it passes the relevant test cases and I also tried manually some other things via `rcli backup` (etcd3 with v2 API). I did discover a bug now in `stats` but the backup command works for me. I might be overlooking something where we differ but I'm not sure I see it 8-/

[2017-07-18 15:54] mhausenblas commented on #2
Right, since both of you seem still to experience the same issue, I need to figure out what I am doing wrong. Fixing the stats bug now and will re-visit your issue right afterwards. Maybe this triggers a new idea …

[2017-07-18 16:12] mhausenblas commented on #4
Just to be clear, I can confirm the stats issue, but the backup works for me (see above). Can you confirm that you can't produce a backup or is it 'just' the discovery/stats part, @benbooth493?

[2017-07-19 06:42] dohnto opened #5 "Cannot build from source: undefined: tls.CertificateRequestInfo"
In order to debug #2 I tried to build *reshifter* from source, following `dev.md` document.

You can reproduce my build by running:

[code]

**EDIT:** updated the code to improve compaction
**NOTE:** I haven't developed in golang lately so maybe missing something obvious... but maybe it can be included in `dev.md`

Thanks!

[2017-07-19 07:16] mhausenblas commented on #5
@dohnto oh wow, thanks a lot for doing this, I so much appreciate it!! Will try to figure out what the problem is here ASAP (note: I'm developing on macOS, never tried what you did above).

[2017-07-19 08:34] benbooth493 commented on #4
Ok so the backup works fine. 👍

[2017-07-19 11:05] mhausenblas commented on #4
Awesome, thanks a lot for this confirmation @benbooth493 and working on the stats part as we speak, will keep you posted. BTW, would you still consider the original feature (overwrite auto-discovery) as valuable now, or …?

[2017-07-19 12:49] mhausenblas commented on #4
@benbooth493 just released [v0.3.14](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.14-alpha) … can you maybe give it a spin and lemme know how it rolls?

[2017-07-19 13:22] mhausenblas commented on #5
As the awesome @carolynvs from the `dep` team rightly pointed out (thanks, again!!) the root problem here is that the Go version in the Docker image is out of date (v1.7, where I'm using v1.8). This should fix this issue, can you try and confirm please, @dohnto?

[2017-07-20 12:49] mhausenblas commented on #5
Can I close this one @dohnto?

[2017-07-20 12:50] mhausenblas commented on #4
@benbooth493 please use the newest release [v0.3.15-alpha](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.15-alpha) when you give it a try, yes?

[2017-07-20 12:51] mhausenblas commented on #2
@eremid @dohnto sorry for the delay here and can you please use [v0.3.15-alpha](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.15-alpha) to check if you're still experiencing the issues above?

[2017-07-20 13:19] eremid commented on #2
\o/
It's ok ! Thanks

[2017-07-20 13:42] mhausenblas commented on #2
OK @eremid thanks for confirming it! Waiting for @dohnto and then (maybe) close this one off ;)

[2017-07-20 13:56] eremid commented on #2
I've just migrate my k8s etcd keys from a standalone etcd to a 3 etcd nodes with rcli backup ;-)

[2017-07-20 14:03] dohnto commented on #2
Fixed for me. Thank you.

[2017-07-20 14:15] mhausenblas commented on #2
\o/

Again, thank you both @dohnto and @eremid and very happy being able to close this one, learned a lot here ;)

[2017-07-20 14:15] #2 closed

[2017-07-20 19:38] eremid commented on #2
There remains a small problem : keys in v2 api format are restored in v3 :(

[2017-07-20 19:54] mhausenblas commented on #2
Sounds more like a big problem @eremid but I'd really prefer if you could create a separate issue for it, if that's OK for you?

[2017-07-20 20:31] eremid commented on #2
Ok

[2017-07-21 06:17] mhausenblas commented on #4
Well, independent of you outcome @benbooth493 I'll need to implement the 'overwrite auto-discovery' feature anyways since @eremid ran into the issue of ReShifter restoring a previous v2 API into a v3 API which is obviously not cool. So, @eremid no need to create a new issue, I'll use this one here to work against and would ask you to comment here please.

[2017-07-21 09:43] mhausenblas commented on #4
@benbooth493 I've now implemented the desired feature in [v0.3.17-alpha](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.17-alpha) … would you have time to give it a try? NOTE: CLI tool, `rcli`-only feature for now, need to update the app.

[2017-07-21 15:25] mhausenblas commented on #4
Now, with [v0.3.19](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.19-alpha), also available in the app (Web UI). FYI @eremid and @benbooth493 …

[2017-07-22 17:01] debben opened #7 "Remove usages of localhost in client code"
### What version of Kubernetes (`kubectl  version`) are you using?
1.6

### What version of etcd (`etcdctl --version`) are you using?
v3

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
0.3.19

According to the documentation:

I was able to install the UI on my cluster. I could access it both using kubectl proxy as well as by adding an ing

[2017-07-22 17:52] mhausenblas commented on #7
Thanks @debben for reporting this and for using ReShifter! Hmmm, does it have to be `localhost:8080`? Well the reason really was that the Web UI is packaged along with the HTTP API in the container image, so guaranteed to be accessible from `localhost`. Maybe I'm missing something and looking at #3 (which I believe is related if not the same issue) I think we should change this, yes. I'm super ope

[2017-07-22 17:54] mhausenblas commented on #3
After our discussion last week @davidjbrewer did you plan to send in a PR for it, otherwise I'll address it this weekend. See also #7 …

[2017-07-24 06:15] sreekanth-ragi opened #8 "Unable to get the pod up and runnning"
### What version of Kubernetes (`kubectl  version`) are you using?
OpenShift Master:   v1.5.1
Kubernetes Master: v1.5.2+43a9be4

### What version of etcd (`etcdctl --version`) are you using?
etcdctl version: 3.1.9
API version: 2

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
Client Version: version.Info{Major:"1", Minor:"5", GitVersion:"

[2017-07-24 06:17] Stubbornz commented on #8
Hello Michael,
I was trying to evaluate Re-Shift for an internal project but I'm getting the above error when trying to bring up the pod. Any help is highly appreciated.

Thanks,
Sreekanth

[2017-07-24 08:23] mhausenblas commented on #8
Sreekanth, thanks for trying ReShifter! Now, I'm trying to figure what exactly you are doing so that I can help you here. So, can you please clarify: are you trying to launch the app? And if so, using what command?

[2017-07-24 08:24] mhausenblas commented on #5
OK, @dohnto I think I'm gonna close this one for now, if the issue persists, happy to re-open it.

[2017-07-24 08:24] #5 closed

[2017-07-24 08:25] mhausenblas commented on #4
@benbooth493 I think I'll close this for now, since the feature is available both in `rcli` and the app, but happy to re-open if necessary …

[2017-07-24 08:25] #4 closed

[2017-07-24 08:42] sreekanth-ragi commented on #8
Hi Michael,
Appreciate your quick response, I cloned the repo and tried the command given for deploying it on Openshift.

make init
make publish

After the above commands when I login to my openshift console, I can see the pod up but it is crashing frequently, with the logs showing the error that I attached as per my initial query.

Thanks,
Sreekanth

[2017-07-24 12:17] mhausenblas commented on #8
Ah, got it, thanks @sreekanth-ragi for clarifying this. Let me try it out again (has been some time) and come back to you and share if I can replicate it or not, OK?

[2017-07-24 12:18] sreekanth-ragi commented on #8
Sure Michael, appreciate all your help

Thanks,
Sreekanth

[2017-07-24 12:36] mhausenblas commented on #8
Ah, I already know what it is :)

I moved the app to `app/` around 4c6356e12adae8f0344726c9d32e0005fdd99f95 but never got to update the OpenShift-related build commands, my bad :(

There should really be test cases for this!

[2017-07-24 12:58] sreekanth-ragi commented on #8
Awesome Michael, so could I simply do a git clone now and will be good to go or you would need more time to fix it.

Thanks again for all your efforts and help

Sreekanth

[2017-07-24 13:31] mhausenblas commented on #8
I'm testing it ATM and yes, once done you only need a `git pull` (not clone) and you should be good.

[2017-07-24 13:32] sreekanth-ragi commented on #8
Sure Michael, will await for your test results.

[2017-07-24 14:00] dohnto opened #9 "rcli cannot create backup: panic: runtime error: invalid memory address or nil pointer dereference"
### What version of Kubernetes (`kubectl  version`) are you using?
[code]

### What version of etcd (`etcdctl --version`) are you using?
[code]

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
[code]

### How to reproduce
1. Download binary from github
2.
[code]

[2017-07-24 15:43] mhausenblas commented on #8
Update: still on it, seems to be a little bit more complicated bug (the other thing mentioned above was also due to be fixed but the harder one is the OCI runtime error). So, please stand by, first thing in the morning I'll look into …

[2017-07-24 16:01] davidjbrewer commented on #3
I have only been looking at cluster artifacts, beside etcd, to backup and restore.

I did not fork your code to do any changes to the UI, as identified in this issue. Did you want me to tackle that bug and submit a pull request (PR)?

[2017-07-24 16:12] ivelichkovich opened #10 "Unable to connect to etcd"
### What version of Kubernetes (`kubectl  version`) are you using?
1.6.2

### What version of etcd (`etcdctl --version`) are you using?
"etcdserver":"2.2.1"
"etcdcluster":"2.2.0"

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
Ran from yaml to deploy on cluster, image: quay.io/mhausenblas/reshifter:0.3.19

I deployed and exposed the web a

[2017-07-24 16:20] mhausenblas commented on #10
Thanks a lot for creating this issue @ivelichkovich, much easier here than via mail ;)

Now, one thing that immediately stands out it that you're using port `2380`. Did you try port `2379` as well in ReShifter and does it yield the same result?

[2017-07-24 16:21] mhausenblas commented on #3
Oh if you have the resources at hand, yes please @davidjbrewer!

[2017-07-24 16:39] mhausenblas commented on #9
@dohnto just cut [v0.3.20](https://github.com/mhausenblas/reshifter/releases/tag/v0.3.20-alpha) which should, fingers crossed, address your issue. Can you please try?

[2017-07-24 16:41] ivelichkovich commented on #10
I just tried 2379 and it did not work. It looks like the webapp is sending a request to localhost:8080 however.

[2017-07-24 16:43] dohnto commented on #5
Yes, golang 1.8  fixed this one for me.

[2017-07-24 16:48] dohnto commented on #9
I have build it from source and it works now. Closing.

[2017-07-24 16:48] #9 closed

[2017-07-24 16:54] mhausenblas commented on #9
Thank you @dohnto!

[2017-07-25 07:26] mhausenblas commented on #7
@debben can you let me know please how you want to proceed?

[2017-07-25 10:19] mhausenblas commented on #8
OK, figured it out thanks to the awesome @soltysh … the fix is coming very soon now @sreekanth-ragi

[2017-07-25 10:23] mhausenblas commented on #8
@sreekanth-ragi can you do a `git pull` and then try again the `make init` please?

[2017-07-25 11:20] sreekanth-ragi commented on #8
@mhausenblas : Build process is failing with the following error

Step 9 : RUN curl -sf -L 'https://github.com/mhausenblas/reshifter/releases/download/v'$rversion'-alpha/reshifter' -o reshifter &&     chmod +x reshifter

EnvVar Value for rversion=0.3.20
--

[2017-07-25 12:40] sreekanth-ragi commented on #8
Looks like it is an issue with github certificates, I'm not able to open the link directly from the browser either with a security/phishing warning being thrown.

[2017-07-25 12:46] mhausenblas commented on #8
So @sreekanth-ragi you're saying that you can't (in your browser) download from https://github.com/mhausenblas/reshifter/releases/download/v0.3.20-alpha/reshifter yes?

[2017-07-25 12:52] mhausenblas commented on #8
Can you do me a favour @sreekanth-ragi and do a `make build` now, should resolve it …

[2017-07-25 13:16] mhausenblas commented on #8
OK, so once you've sorted out the cert issue, can you do the `make build` then? I've [updated](https://github.com/mhausenblas/reshifter/commit/199d7e1a9088752d41b8bcd57fdfd6beb8c844df) the instructions accordingly …

[2017-07-25 13:19] sreekanth-ragi commented on #8
@mhausenblas : Sure will let you know once I run the build

[2017-07-25 16:01] mhausenblas commented on #10
@ivelichkovich can it be that this is related to #7?

[2017-07-26 05:17] sreekanth-ragi commented on #8
@mhausenblas: I was able to run the build successfully and can now see the pod deployed.Thank you a lot for all your efforts and support in getting this resolved.

Thanks,
Sreekanth

[2017-07-26 13:01] debben commented on #7
Sorry for the delay. I'll submit a PR soon.

[2017-07-26 17:24] mhausenblas commented on #7
Thank you @debben!

[2017-07-26 17:25] mhausenblas commented on #8
Thanks for the confirmation @sreekanth-ragi and glad to see the outcome. Closing this one now.

[2017-07-26 17:25] #8 closed

[2017-07-30 06:21] mhausenblas commented on #10
Hey @ivelichkovich I'm still trying to reproduce your issue but with little success. Happy to jump on a call next week to have a look at your setup, maybe that reveals more?

[2017-07-31 06:00] #7 closed

[2017-08-09 07:40] kvmprashanth commented on #7
Could you please update the image file in the below link from version 3.19 to 3.21 ?
https://raw.githubusercontent.com/mhausenblas/reshifter/master/deployments/reshifter-app.yaml

[2017-08-09 07:55] mhausenblas commented on #7
@kvmprashanth done. Thanks for spotting this!

[2017-08-22 20:32] blardo opened #13 "Support SSL-enabled clusters without client cert auth."
### What version of Kubernetes (`kubectl  version`) are you using?
1.7.3

### What version of etcd (`etcdctl --version`) are you using?
3.2

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
v0.3.21-alpha

Reshifter currently assumes that any etcd endpoint with the https:// prefix is configured to require client authentication. Our current c

[2017-08-23 03:49] mhausenblas commented on #13
@blardo thanks a lot for raising this issue, I think it makes a lot of sense. If you want to give it a try, it should be as 'easy' as patching:
 https://github.com/mhausenblas/reshifter/blob/3f3ce15aaa1ba6bd0da91a64897ce24b2016298b/pkg/util/etcd3.go#L32

That is, essentially providing a flag that creates a secure etcd3 client without the respective env variables.

One thing to remember is that the

[2017-08-23 03:50] #10 closed

[2017-08-23 18:11] blardo commented on #13
Makes sense to me - will have something ready to review in the next couple of days. Thanks!

[2017-08-31 03:22] vanloswang opened #14 "can not backup resources under a project or namespace on openshift origin"
### What version of Kubernetes (`kubectl  version`) are you using?
[code]

### What version of etcd (`etcdctl --version`) are you using?
[code]

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
[code]
Deploy reshifter app under project reshifter on openshift origin 3.6, and use following commad to backup all resources under namespace. some

[2017-08-31 03:57] mhausenblas commented on #14
@vanloswang thanks for using ReShifter and for reporting this issue!

Now, how `RS_BACKUP_STRATEGY=filter:` [works](https://github.com/mhausenblas/reshifter/blob/master/docs/strategies.md) is simply that it applies whatever you have in there to the etcd path and it passes if it's in your filter. Does this make sense?

Maybe a better name would be `pass:` rather than `filter:`? Dunno.

[2017-09-21 12:29] CatherineMaddenUXDX opened #15 "Did you get my message?"
Hi Michael,

I've sent you an email on UXDX a few days ago and I'm wondering if you had a chance to read it; I'm afraid it might have been marked as spam.

I would like to say thank you for being involved in Open Source and discuss something regarding our conference.

Could you please double check your email or drop me a message at catherine@uxdxconf.com?

Thanks in advance,
Catherine

[2017-10-17 17:05] strantalis opened #16 "distro openshift not detected on openshift 3.6 cluster"
### What version of Kubernetes (`kubectl  version`) are you using?
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+5115d708d7", GitCommit:"fff65cf", GitTreeState:"clean", BuildDate:"2017-08-28T09:00:00Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+5115d708d7", GitCommit:"fff65cf", GitTreeSt

[2017-10-17 18:51] mhausenblas commented on #16
Thanks for reporting this @strantalis, will have a look at it and try to reproduce it ASAP.

[2017-12-25 02:27] #14 closed

[2018-01-26 20:51] jthiatt opened #19 "Problems backing up OpenShift 3.6"
### What version of Kubernetes (`kubectl  version`) are you using?
Client Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+5115d708d7", GitCommit:"fff65cf", GitTreeState:"clean", BuildDate:"2017-10-11T22:44:25Z", GoVersion:"go1.7.6", Compiler:"gc", Platform:"linux/amd64"}
Server Version: version.Info{Major:"1", Minor:"6", GitVersion:"v1.6.1+5115d708d7", GitCommit:"fff65cf", GitTreeSt

[2018-01-27 11:56] mhausenblas commented on #19
Thanks for raising this issue @jthiatt, will have a look into it ASAP! Just quickly checking, what does `curl http:/server:2379/v2/keys/kubernetes.io/` give you?

[2018-01-27 15:56] jthiatt commented on #19
Thanks for the quick response!  Output below.

curl -vv   http://server:2379/v2/keys/kubernetes.io/
* About to connect(X.X.X.X) to server port 2379 (#0)
*   Trying IP...
* Connected to server (X.X.X.X) port 2379 (#0)

* Connection #0 to host server left intact

[2018-01-27 19:18] mhausenblas commented on #19
So this suggests that you can't even get to etcd with `curl`, right?

[2018-01-28 13:59] jthiatt commented on #19
Yeah, after looking around my etcd cluster I think I have a bigger problem.  It seems to be in an unhealthy state post-upgrade.  Thanks for pointing me in the right direction.

[2018-01-28 18:05] mhausenblas commented on #19
Got it, thanks for investigating @jthiatt. Let me know how it goes …

[2018-03-05 08:56] sreekanth-ragi opened #20 "Question on S3 Storage"
### What version of Kubernetes (`kubectl  version`) are you using?
1.4.0+776c994

### What version of etcd (`etcdctl --version`) are you using?
3.2.9

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
0.3.21

### Development only: what version of Go (`go version`) and `dep` (`git describe --tags`) are you using?

I think this should be fairl

[2018-03-05 09:05] mhausenblas commented on #20
Thanks for raising this issue @sreekanth-ragi and the answer is yes. Since each backup is a timestamped ZIP file, this is trivially supported. See also the [CLI walkthrough](https://github.com/mhausenblas/reshifter/blob/master/docs/walkthroughs.md#cli) for more details.

[2018-03-05 09:05] #20 closed

[2018-03-05 09:36] sreekanth-ragi commented on #20
Hi Michael,

Thanks for the quick turnaround, I just tried using the following command and it did not work

rcli backup create <etcd:port> --bucket  bktname/foldername --remote s3.amazonaws.com

It returned with the error.
ERRO[0081] Bucket name contains invalid characters

What am I doing wrong?

[2018-03-05 09:41] sreekanth-ragi opened #21 "Writing back-up to folder in S3 bucket."
Hi Michael,

Following up on my question earlier in the day, I tried writing the backup to a folder name and following is the result.

rcli backup create etcd:port --bucket bktname/foldername --remote s3.amazonaws.com

It returned with the error.
ERRO[0081] Bucket name contains invalid characters

What am I doing wrong?

Thanks,
Sreekanth

[2018-03-05 09:53] mhausenblas commented on #21
Drop the foldername, only `--bucket bktname`

[2018-03-05 10:25] sreekanth-ragi commented on #21
In which it is writing directly under the bucket, does not go into the folder present inside the bucket.

[2018-03-05 10:37] mhausenblas commented on #21
Yup, that's as it should be, no folder support at present I'm afraid.

[2018-03-05 10:37] #21 closed

[2018-03-05 11:54] sreekanth-ragi commented on #21
@mhausenblas : Thank you for the confirmation.

[2018-04-18 00:49] rushins opened #22 "RS_ETCD_CLIENT_CERT environment variable is not set"
i am getting following error using using Rshifter App on kubernetes. my  kubernets cluster is core Tectonic method .

Having problems calculating stats, no vanialla keys found: Can't find client cert file: RS_ETCD_CLIENT_CERT environment variable is not set.

### What version of Kubernetes (`kubectl  version`) are you using?
1.7.3

### What version of etcd (`etcdctl --version`) are you using?
3.2.

[2018-04-18 01:00] rushins commented on #22
based on the document i have also set the following 3 parameters in my master node where ETCD running.

 export RS_ETCD_CLIENT_CERT=/etc/kubernetes/secrets/etcd-client.crt
export RS_ETCD_CLIENT_KEY=/etc/kubernetes/secrets/etcd-client.key
export RS_ETCD_CA_CERT=/etc/kubernetes/secrets/etcd-client-ca.crt

[2018-04-18 07:57] mhausenblas commented on #22
@rushins thanks for raising this issue. The environment variables `RS_ETCD_XXX` need to be set on the machine where you run ReShifter, that is, for `rcli` in the in the terminal session you're launching it and for the app from within the pod it's launching the app.

[2018-04-18 17:12] john-delivuk opened #23 "SDK Question."
This is more of an inquiry. Why use the minio for s3 over the aws sdk? You get bound to using AWS Access keys over being able to leverage IAM profiles as well. Would you be open to a PR swapping out sdk for something more robust?

[2018-04-19 08:58] mhausenblas commented on #23
Thanks for your interest @john-delivuk. Not sure I'm following. AFAICT, there seem to be two orthogonal things going on here: 1. being able to leverage IAM profiles, and 2. you suggesting that Minio is not "robust". Ad 1. I'd say that the current setup allows for most portability (since IAM is only available in AWS) so to me that's not a compelling reason to move away from Minio. Ad 2., I'm not su

[2018-04-20 18:55] john-delivuk commented on #23
I can see how using minio provides a smaller foot print and sufficient for uploading an object. Using the aws-sdk would allow you to use all compatible forms of authentication, this allowing for the most versatile deployments in aws , as well as maintaining the same outside of. Seeing as minio does have some versatility because you can use generic s3 compatible object stores vs official s3, there

[2018-04-27 21:01] rushins commented on #22
Hi

Sorry to come back late  . I have question. I set the parameters on my kubernetes master host where the ETCD running as "Rkt" container . as mentioned i have tectonic based kubernetes setup which ETCD uses as container but the export parameters all works except RCLI was not there on the master node ? should i install RCLI on master node (my master node is "coreos") also should i install reshif

[2018-04-28 09:26] mhausenblas commented on #22
Yes, installing `rcli` on the master node is an option.

[2018-04-28 14:44] rushins commented on #22
ok i copied RCLI as well reshifter binaries in my kubernetes master node (its coreos so i had to do symbolic links to /usr/bin/ ) anyways but after doing i get different errors.

when i try to do backup i get this error from RESHIFTER container web app as well master node executing reshifter backup
-----------
Get http://lvpal3040.pal.sap.corp:2379/version: malformed HTTP response "\x15\x03\x01\x0

[2018-04-28 14:59] rushins commented on #22
just curious to find, is this error due to any persistency stoage  of NFS. I  have NFS setup with persistence storage but for reshifter container i didnt' configure any NFS

i have this PV in my cluster.

NFS
Server:
10.48.226.90
Path:
/vol_kubesdn_nfs_0001/vora2/vflow-stdlib

please advise what this error.

[2018-04-28 15:53] mhausenblas commented on #22
Very strange error message there but I can't imagine that a PV has anything to do with it. The only thing that ReShifter does is trying to connect to etcd. You could try if you can manually communicate with etcd using `etcdctl`, https://github.com/mhausenblas/reshifter/tree/master/testbed has a number of hints there.

[2018-05-15 10:43] paurullan opened #25 "Compatibility with GKE?"
Is this tool compatible or connectable to a running GKE cluster? I have been trying and reading the documentation but without luck.

### What version of Kubernetes (`kubectl  version`) are you using?

1.9.7 GKE

Client Version: version.Info{Major:"1", Minor:"8", GitVersion:"v1.8.6", GitCommit:"6260bb08c46c31eea6cb538b34a9ceb3e406689c", GitTreeState:"clean", BuildDate:"2017-12-21T06:34:11Z", GoVers

[2018-05-15 14:25] mhausenblas commented on #25
@paurullan thanks for raising this issue! No, it won't work on GKE since it directly talks with `etcd` and AFAIK the control plane is not directly accessible in GKE.

[2018-05-15 14:25] #25 closed

[2018-06-05 11:08] freemantle1989 opened #26 "grpc: received message larger than max"
Kubernetes v1.9.3+coreos.0
etcd 3.2.4
rcli 0.3.21

I tested this tool in a small test cluster and it worked perfectly. In production i get:
ERRO[0000] rpc error: code = ResourceExhausted desc = grpc: received message larger than max (6778677 vs. 4194304)

Is this a layer 8 problem?

[2018-06-05 11:17] freemantle1989 commented on #26
i thought with filtering just a small namespace with " RS_BACKUP_STRATEGY=filter:MY-SMALL-NAMESPACE" i could go around this error but i get the same

[2018-06-05 11:18] freemantle1989 commented on #26
Oh sry there is already a pull-request

[2018-06-05 11:18] #26 closed

[2018-06-05 14:48] mhausenblas commented on #22
Thanks @drdivano and it seems ReShifter tries to use HTTP on an HTTPS endpoint. Can you run `rcli explore` please and paste the output here? Also, you could try to overwrite the endpoint as in: `rcli stats --endpoint https://127.0.0.1:2379`.

[2018-06-06 11:00] drdivano commented on #22
Thanks @mhausenblas ! It works with  --endpoint https:

[code]

[2018-06-06 13:40] mhausenblas commented on #22
Cool, thanks @drdivano and if you could share the output of `./rcli-linux.dms explore` (that is, without the `endpoint` parameter as well that would be awesome, so I get a chance to understand what goes wrong in the auto-discovery ;)

[2018-06-06 13:50] drdivano commented on #22
[code]

[2018-06-06 14:00] mhausenblas commented on #22
Thanks, yeah, that's what I thought :(

[2018-06-20 10:02] charlesakalugwu opened #27 "Reshifter should allow specifying S3 prefix for the backup files"
It would be nice if reshifter provided the ability to specify a prefix within the S3 bucket under which the backups should be written. Right now reshifter S3 backups just upload the zip to the S3 bucket root.

[2018-06-20 10:07] charlesakalugwu opened #28 "Support providing AWS KMS key id to enable object encryption"
It would be nice if reshifter allowed for the specification of an AWS KMS customer master key id to enable encryption of the backup zip on the client side before uploading those to the remote AWS S3 bucket (the bucket may have server-side encryption enabled in addition).

[2018-06-20 10:12] charlesakalugwu opened #29 "Reshifter should provide abstract the remote storage code"
Right now, reshifter is implemented to write backups to remote S3-compatible storage systems e.g minio or vallina AWS S3. It would be nice to abstract the remote storage logic to allow developers to implement various other remote storage backends e.g. streaming the backups to kafka.

[2018-12-04 04:56] #19 closed

[2019-01-30 14:34] mitpwd opened #31 "Authentication to the UI using SAML 2.0"
### What version of Kubernetes (`kubectl  version`) are you using?
1.11.7

### What version of etcd (`etcdctl --version`) are you using?
v3

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
0.3.22-alpha

### Development only: what version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
not yet

I would need to add SAML

[2019-04-22 15:18] virtuman opened #32 "What's a proper way to migrate to a new cluster using Reshifter?"
First of all - Thank you so much for sharing such as incredibly useful project with the community. It is very easy to use and very well done! Thumbs Up!

While I managed to quickly set it up for the ongoing backups, I have a few doubts about using ReShifter to migrate the cluster and it would be greatly appreciated if you could possibly clarify on a couple of question:

What would be the best case

[2019-04-23 09:02] mhausenblas commented on #32
Thanks a lot for your feedback @virtuman and in order to understand what's really going on maybe have a look at the [architecture](https://github.com/mhausenblas/reshifter/blob/master/docs/architecture.md)? In a nutshell: ReShifter is rather dumb, it literally just traverses `etcd` and dumps the content, so any kind of business logic would have to be handled via the available [strategies](https://

[2019-05-01 13:58] virtuman commented on #32
Thank you for your prompt response. Looking at architecture and the data structure clarifies everything a lot.

Just a quick couple of question:
- will it overwrite existing keys by default, and is there a way to skip existing keys?
- backup / restore - will restore wipe all new data, or will it merge backup into currently running version? is there a way to apply backup by completely re-writing ru

[2019-05-02 07:45] mhausenblas commented on #32
This one is a little tricky. If you look at the code, for [v2 API](https://github.com/mhausenblas/reshifter/blob/master/pkg/restore/restore.go#L121) it only restores it if the node doesn't exist whereas in [v3 API](https://github.com/mhausenblas/reshifter/blob/master/pkg/restore/restore.go#L84) it overwrites it. An inconsistency, I'm afraid. As mentioned above, using a [filter strategy](https://gi

[2019-06-19 11:10] ipochi commented on #32
@virtuman If you only want to move workloads / data , perhaps Velero will be a better option.
You can restore to a different namespace and take backups using labels or only certain namespaces

github.com/heptio/velero

[2020-02-07 15:52] arthurzenika opened #33 "[kubernetes 1.17.x] no matches for kind "Deployment" in version "extensions/v1beta1""
### What version of Kubernetes (`kubectl  version`) are you using?

[code]

### bug report

[code]

[2020-02-07 18:50] mhausenblas commented on #33
Yup, it's outdated. PR welcome.

[2020-03-28 13:07] #23 closed

[2020-04-07 00:46] joeibm2020 opened #34 "rpc error: code = ResourceExhausted desc = grpc: received message larger than max (61852369 vs. 4194304)"
### What version of Kubernetes (`kubectl  version`) are you using?
1.17.2

### What version of etcd (`etcdctl --version`) are you using?
v3

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
0.3.21

### Development only: what version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
no go version deployed.

--------------

[2020-04-07 00:53] joeibm2020 commented on #34
oc version

Client Version: version.Info{Major:"4", Minor:"1+", GitVersion:"v4.1.0+b4261e0", GitCommit:"b4261e07ed", GitTreeState:"clean", BuildDate:"2019-10-06T23:21:44Z", GoVersion:"go1.13.1", Compiler:"gc", Platform:"darwin/amd64"}

Server Version: version.Info{Major:"1", Minor:"16", GitVersion:"v1.16.2", GitCommit:"b3bfb5a", GitTreeState:"clean", BuildDate:"2020-03-02T08:50:52Z", GoVersion:"go

[2020-04-07 01:02] joeibm2020 commented on #34
I saw this one but it is using Go, is there a way to use .yml file instead of go? also is this should be applied in the reshifter container?? or where?
https://github.com/cri-o/cri-o/pull/2027/commits/be442361d6db85dc5779e6a7fdd747efa0a96cb1

[2020-04-07 01:06] joeibm2020 opened #35 "errors when trying to install rcli in ocp 4.3 master"
### What version of Kubernetes (`kubectl  version`) are you using?
1.16.2

### What version of etcd (`etcdctl --version`) are you using?
3

### What version of ReShifter are you using (for rcli: `rcli version` otherwise at the bottom of the app)?
0.3.21

### Development only: what version of Go (`go version`) and `dep` (`git describe --tags`) are you using?
no go version used just yaml files

----